---
---

.neWcontainer {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
}

@import "{{ site.theme }}";

header h1:before {
  content: "";
  font-size: 24px;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

.site-header {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #1e1e1e;
  padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  color: #000000;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
}

.body {
  margin: 0;
  padding: 0;
  background: #ffffff 0 0;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}

a {
  color: #8053ff;
}

.index-main {
  margin-top: 2rem;
  padding-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  border-top: 1px solid #000000;
}

.index-lists {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.index-lists-header {
  color: #8053ff;
}

.header-subscribe-text {
    font-style: italic;
    font-size: 12px;
    padding-top:5px;
}

.home-content {
  padding-top: 10px;
}

ul {
  list-style: none;
}

.blacklink {
  color: #1e1e1e;
  text-decoration: dashed;
  text-decoration-color: #8053ff;
}

.post-list {
  padding-top: 10px;
}