<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body class="body">
    <div class="neWcontainer">
      <section class="index-main" id="main_content">
        <div class="site-header">
            <a id="a-title" href="/">
              <h1>Joey DeBruin</h1>
            </a>
            <p class="header-subscribe-text">I send ~ one update every month, either an original essay or a collection of stuff I’ve found. <a href="http://flyingpenguins.io" target="_blank">Subscribe here</a> if you’d like to follow along.</p>
          </div>
        <div class="home-content">{{ content }}</div>
      </section>
      <div class="flex-container">
        <div class="index-lists"><h3 class="index-lists-header">ARTICLES</h3>
        <ul class ="post-list">
            <li>
              <a href="https://www.flyingpenguins.io/p/frying-eggs-as-the-world-burns"><p class="blacklink" >Frying Eggs as the World Burns</p></a>
            </li>
        </ul></div>
        <div class="index-lists"><h3 class="index-lists-header">IDEA GARDENING</h3>
          <ul class ="post-list">
          {% for post in site.categories.ideagardening %}
            <li>
              <a href="{{ post.url }}"><p class="blacklink" >{{ post.title }}</p></a>
            </li>
          {% endfor %}
        </ul></div>
        <div class="index-lists"><h3 class="index-lists-header">OTHER</h3>
            <ul class ="post-list">
            {% for post in site.categories.posts %}
              <li>
                <a href="{{ post.url }}"><p class="blacklink" >{{ post.title }}</p></a>
              </li>
            {% endfor %}
          </ul></div>
    </div>
    </div>
  </body>
</html>